.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  max-height: 100vh;
}

.home__description {
  margin-top: 70px;
  text-align: center;
}

.home__header {
  margin-bottom: 20px;
  font-size: 70px;
  color: var(--ausflix-color);
}

.home__sub-header {
  margin-bottom: 50px;
  margin-top: 40px;
  font-size: 40px;
}

.home__image--container {
  margin-top: 100px;
}

.home__image--container {
    max-width: 1200px;
}

.home__image {
    width: 100%;
    height: 100%;
}
