.nav__container {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  align-items: center;
  width: 150px;
  width: 100%;
}

.logo {
  width: 100%;
  width: 100px;
  margin-right: 10px;
  color: var(--ausflix-color);
}

.nav__header {
  color: rgb(255, 128, 0);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links {
  padding: 0 24px;
}

.nav__link {
  font-weight: 800;
  font-size: 24px;
}

.contact {
  color: white;
}

.nav__btn {
  background-color: var(--ausflix-color);
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 24px;
}

.nav__link:hover {
  opacity: 0.8;
  transition: all 200ms ease-in-out;
  text-decoration: underline;
}

.nav__btn:hover {
  opacity: 0.8;
  transition: all 200ms ease-in-out;
}

.contact:hover {
  text-decoration: none;
}
