body {
  box-sizing: border-box;
}

.resultsInfo__container {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 50px auto;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 12px;
  background-color: rgb(255, 128, 0);
  overflow: hidden;
}

.resultsInfo__image--container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(210, 210, 210, 0.286);
}

.resultsInfo__image {
  width: 100%;
  border-radius: 6px;
}

.resultsInfo__description {
  width: 60%;
  padding: 10px 20px;
  margin: 30px 20px;
  color: white;
  position: relative;
}

.resultsInfo__title,
.resultsInfo__sub-title,
.resultsInfo__overview,
.resultsInfo__para {
  margin-bottom: 16px;
  text-align: center;
}

.resultsInfo__title {
  font-size: 40px;
  text-decoration: underline;
  margin-top: 40px;
}

.resultsInfo__sub-title {
  font-size: 24px;
}

.resultsInfo__overview {
  font: bold;
  font-size: 34px;
  color: var(--ausflix-color);
}

.resultsInfo__para {
  font-size: 24px;
  line-height: 1.5;
  text-align: start;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px 16px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
  background-color: black;
  color: var(--ausflix-color);
  border: 1px solid var(--ausflix-color);
}
.back:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

@media (max-width: 1124px) {
  .resultsInfo__container {
    margin: 0 50px;
  }
  .resultsInfo__title {
    font-size: 35px;
  }

  .resultsInfo__overview {
    font-size: 28px;
  }

  .resultsInfo__para {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .resultsInfo__container {
    max-width: 700px;
    margin-top: 125px;
  }

  .resultsInfo__description {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .resultsInfo__sub-title {
    display: none;
  }
  .resultsInfo__overview {
    font-size: 20px;
    margin-top: 10px;
  }

  .resultsInfo__title {
    font-size: 28px;
    margin: 0;
  }

  .resultsInfo__para {
    font-size: 16px;
    line-height: 1.5;
  }

  .back {
    font-size: 10px;
    padding: 5px 10px;
    top: -10px;
    left: -10px;
  }
}
