body {
  box-sizing: border-box;
}

.resultsInfo__container {
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin: 50px auto;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 12px;
  background-color: rgba(42, 38, 38, 0.6);
  overflow: hidden;
}

.resultsInfo__image--container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(210, 210, 210, 0.286);
}

.resultsInfo__image {
  width: 100%;
  border-radius: 6px;
}

.resultsInfo__description {
  width: 60%;
  padding: 10px;
  margin: 30px 20px;
  color: white;
  position: relative;
}

.resultsInfo__title,
.resultsInfo__sub-title,
.resultsInfo__overview,
.resultsInfo__para {
  margin-bottom: 16px;
  text-align: center;
}

.resultsInfo__title {
  font-size: 50px;
  text-decoration: underline;
}

.resultsInfo__sub-title {
  font-size: 24px;
}

.resultsInfo__overview {
  font: bold;
  font-size: 34px;
  color: var(--ausflix-color)
}

.resultsInfo__para {
  font-size: 24px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 30px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
  background-color: var(--ausflix-color);
  color: white;
  border: 1px solid var(--ausflix-color);
}
.back:hover {
  transform: scale(1.05);
  opacity: 0.85;
}
