.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  border: 2px solid var(--ausflix-color);
  padding: 14px 24px;
  border-radius: 10px;
  width: 600px;
  font-size: 20px;
  margin-right: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  outline: none;
}

.search__btn {
  display: flex;
  padding: 8px 36px;
  font-size: 40px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: var(--ausflix-color);
  color: white;
  cursor: pointer;
  border: none;
}

.search__btn:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .search__input {
    max-width: 350px;
    font-size: 16px;
  }
}
