@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ebebeb;
  --ausflix-color: #ff8000;
  -ms-overflow-style: none;

}

.ausflix {
  color: var(--ausflix-color);
}

::-webkit-scrollbar {
  display: none;
}
