@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ebebeb;
  --ausflix-color: #ff8000;
  -ms-overflow-style: none;

}

.ausflix {
  color: var(--ausflix-color);
}

::-webkit-scrollbar {
  display: none;
}

/* RESPONSIVENESS */

/* Small Screens */
@media (max-width: 1024px) {
  .nav__links:nth-child(2) {
    display: none;
  }

  .home__header {
    font-size: 40px;
  }
}

@media (max-width:768px) {
  .nav__container {
    padding: 16px;
  }

  .home__container {
    padding: 20px;
  }

  .nav__links:first-child {
    display: none;
  }
}